---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: gogs-pdb
  namespace: {{ .Release.Namespace }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      {{- include "gogs.labels" . | indent 6 }}
